<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avocat List</title>
</head>
<body>
    <h1>Avocat List</h1>
    <a href="{% url 'index' %}"><button>Return to Homepage</button></a>
    <a href="{% url 'add_avocat' %}"><button>Add New Avocat</button></a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nume</th>
                <th>Prenume</th>
                <th>Telefon</th>
                <th>CNP</th>
                <th>Email</th>
                <th>Specializare</th>
                <th>Speta</th>
            </tr>
        </thead>
        <tbody>
            {% for avocat in avocati %}
                <tr>
                    <td>{{ avocat.id_avocat }}</td>
                    <td>{{ avocat.nume }}</td>
                    <td>{{ avocat.prenume }}</td>
                    <td>{{ avocat.telefon }}</td>
                    <td>{{ avocat.cnp }}</td>
                    <td>{{ avocat.email }}</td>
                    <td>{{ avocat.specializare }}</td>
                    <td>{{ avocat.speta }}</td>

                    <td>
                          <a href="{% url 'modify_avocat' avocat.id_avocat %}"><button>Modify</button></a>
                          <a href="{% url 'delete_avocat' avocat.id_avocat %}"><button>Delete</button></a>
                     </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>