<!DOCTYPE html>
<html>
<head>
    <title>Client List</title>
</head>
<body>

<h1>Client List</h1>
<a href="{% url 'index' %}"><button>Return to Homepage</button></a>
<a href="{% url 'add_client' %}"><button>Add New Client</button></a>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>CNP</th>
            <th>Adresa</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clienti %}
            <tr>
                <td>{{ client.id_client }}</td>
                <td>{{ client.nume }}</td>
                <td>{{ client.prenume }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.telefon }}</td>
                <td>{{ client.cnp }}</td>
                <td>{{ client.adresa }}</td>

                <td>
                    <a href="{% url 'modify_client' client.id_client %}"><button>Modify</button></a>
                    <a href="{% url 'delete_client' client.id_client %}"><button>Delete</button></a>
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>